body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(0deg, darkred, red);
    animation: backgroundTransition 10s infinite;
}

@keyframes backgroundTransition {
    0% { background-color: red; }
    50% { background-color: darkred; }
    100% { background-color: red; }
}

#falling-words {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.word {
    position: absolute;
    font-size: 30px;
    color: white;
    white-space: nowrap;
    animation: fall 10s linear infinite;
}

@keyframes fall {
    0% { top: -5%; }
    100% { top: 105%; }
}
